{% extends 'rango/base_boot_strap.html' %}

{% load staticfiles %}

{% block title_block %}
    {{ 'Home' }}
{% endblock %}

{% block body_block %}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">

    <div class="jumbotron">
        <h1 class="display-3">Rango says... </h1>
        {% if user.is_authenticated %}
            <h1>hey there {{ user.username }}!</h1>
        {% else %}
            <h1>hey there partner!</h1>
        {% endif %}
    </div>

    <div align="center" class="row marketing">
        <div class="col-lg-6">
            <h4>Most Liked Categories</h4>
            <p>
                {% if categories %}
                    <ul class="nav-pills flex-column">
                        {% for category in categories %}
                            <li class="nav-link"><a class="nav-item" href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <strong>There are no categories</strong>

                {% endif %}
            </p>
        </div>


        <div class="col-lg-6">
            <h4>Most Viewed Pages</h4>
            <p>
                {% if pages %}
                <ul class="nav nav-pills flex-column">
                    {% for page in pages %}
                        <li class="nav-link">
                            <a class="nav-item" href="{{ page.url }}"> {{ page.title }} </a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <strong> No pages found </strong>
                {% endif %}
            </p>
        </div>
    </div>

{% endblock %}